<!DOCTYPE html>
<html class="no-js light-mode" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Website Review 2024 - Accessibility</title>
    <meta name="description" content="" />

    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="stylesheets/screen.css" /> -->
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/vue.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      document.documentElement.className = document.documentElement.className.replace("no-js", "js");
    </script>
  </head>
  <body class="dark:bg-slate-800">
    <div id="wrapper">
      <header class="hidden py-2 bg-slate-100 dark:bg-slate-800 border-b-2 border-b-slate-300 dark:border-b-slate-50" role="banner">
        <div class="container">
          <button class="mode-toggle bg-transparent border border-slate-700 relative rounded-full dark:border-slate-300 m-0"><span class="block w-1/2 bg-slate-700 dark:bg-slate-300 rounded-full absolute top-0 bottom-0 left-0 dark:left-auto dark:right-0"></span><span class="visuallyhidden sr-only">Dark Mode</span></button>
        </div>
      </header>

      <div class="section-top bg-slate-100 dark:bg-slate-800">
        <div class="container pt-4 pb-8">
          <p class="uppercase text-xs leading-2 font-light">Accessibility Report</p>
          <h1>Sample Site</h1>
        </div>
      </div>

      <main class="maininfo" id="main" role="main">
        <div class="content">
          <section class="js-warning">
            <div class="container">
              <h2>Loading...</h2>
              <small>This report requires javascript to be enabled. If the report is not loading, javascript may need to be enabled in your browser.</small>
            </div>
          </section>
          <section id="dashboard">
            <div class="section-subnav bg-slate-100 dark:bg-slate-800 border-b-2 border-b-slate-300 py-1 text-sm">
              <div class="container">
                <ul class="flex flex-row justify-start items-center space-x-6">
                  <li><a href="#overview">Overview</a></li>
                  <li><a href="#results">Results</a></li>
                  <li><a href="#design">Design Review</a></li>
                </ul>
              </div>
            </div>

            <section id="overview">
              <div class="card-container">
                <div class="report-card">
                  <h2>Scope of Report</h2>
                  <table class="table">
                    <tr>
                      <th>Conformance Target</th>
                      <td>WCAG 2.1 Level AA</td>
                    </tr>
                    <tr>
                      <th>Date of Review</th>
                      <td>{{ reportDate }}</td>
                    </tr>

                    <tr>
                      <th>Number of Issues Found</th>
                      <td>{{ getTotalFixes }}</td>
                    </tr>
                    <tr v-if="this.showQuotes.overallTotal === 'true'">
                      <th>Estimated time for fixes</th>
                      <td>{{ getQuoteTotal }} hours</td>
                    </tr>
                  </table>
                </div>

                <div class="report-card">
                  <h2>Summary</h2>
                  <p>This is an example of an accessibility report built using Vue.JS. The site and list of issues are made up and for sample data only.</p>
                </div>

                <div class="report-card">
                  <h2>Report Overview</h2>
                  <p>WCAG guidelines are divided into four principles, briefly describing the goal of the guidelines. The guidelines are further divided into three levels that indicate the priority of conformance. Level A is the highest priority and Level AAA is lowest priority. This report targets the mid-range Level AA conformance.</p>
                  <p>Below is a scorecard of how many guidelines have passed for each principle.</p>
                  <div class="flex flex-col md:flex-row w-full">
                    <div class="flex-1">
                      <h3>Reported Scorecard</h3>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Principle</th>
                            <th>Level A</th>
                            <th>Level AA</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>1. Perceivable</th>
                            <td>{{ getAScore('1') }}</td>
                            <td>{{ getAAScore('1') }}</td>
                          </tr>
                          <tr>
                            <th>2. Operable</th>
                            <td>{{ getAScore('2') }}</td>
                            <td>{{ getAAScore('2') }}</td>
                          </tr>
                          <tr>
                            <th>3. Understandable</th>
                            <td>{{ getAScore('3') }}</td>
                            <td>{{ getAAScore('3') }}</td>
                          </tr>
                          <tr>
                            <th>4. Robust</th>
                            <td>{{ getAScore('4') }}</td>
                            <td>{{ getAAScore('4') }}</td>
                          </tr>
                          <tr class="total">
                            <th>Total</th>
                            <td>{{ getAScore('5') }}</td>
                            <td>{{ getAAScore('5') }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                      <div class="flex-1">
                      <h3>Scorecard After Fixes</h3>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Principle</th>
                            <th>Level A</th>
                            <th>Level AA</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>1. Perceivable</th>
                            <td>{{ getNewAScore('1') }}</td>
                            <td>{{ getNewAAScore('1') }}</td>
                          </tr>
                          <tr>
                            <th>2. Operable</th>
                            <td>{{ getNewAScore('2') }}</td>
                            <td>{{ getNewAAScore('2') }}</td>
                          </tr>
                          <tr>
                            <th>3. Understandable</th>
                            <td>{{ getNewAScore('3') }}</td>
                            <td>{{ getNewAAScore('3') }}</td>
                          </tr>
                          <tr>
                            <th>4. Robust</th>
                            <td>{{ getNewAScore('4') }}</td>
                            <td>{{ getNewAAScore('4') }}</td>
                          </tr>
                          <tr class="total">
                            <th>Total</th>
                            <td>{{ getNewAScore('5') }}</td>
                            <td>{{ getNewAAScore('5') }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>

                <div class="report-card">
                  <h2>Issues</h2>

                  <div class="tier-list my-6" v-for="item in generalTiers">
                    <h3>{{ item.tier }}</h3>
                    <p>{{ item.description }}</p>
                    <ul class="my-3 flex flex-col divide-y-2 divide-gray-300">
                      <li class="flex flex-row p-2 space-x-2" v-for="issue in filterTier(item.tier)">
                        <span class="criteria font-semibold">{{ issue.criteria }}</span>
                        <span class="description flex-1">{{ issue.description }}</span>
                        <span class="quote" v-if="showQuotes.individualItemQuotes === 'true'">{{ issue.quote }} hour(s)</span>
                        <span class="completed">
                          <img src="images/checkbox-checked.svg" alt="Complete" class="w-6" v-if="issue.completed" />
                          <img src="images/checkbox-unchecked.svg" alt="Incomplete" class="w-6" v-else />
                        </span>
                        <span class="details"
                          ><a :href="'#results?issue=is' + issue.criteria.split('.').join('')"><img src="images/icon-info.svg" class="w-6" alt="Details" /></a
                        ></span>
                      </li>
                      <li class="text-sm italic" v-if="filterTier(item.tier).length === 0">There are no issues at this level.</li>
                    </ul>
                    <p v-if="showQuotes.totalByTier === 'true'"><strong>Total Time for Fixes</strong>: {{ getTierTotal(item.tier) }} hour(s)</p>
                  </div>
                </div>
              </div>
            </section>
            <section id="results">
              <div class="card-container mb-24">
                <div id="filter-set" class="flex justify-center items-center pt-6 space-x-1">
                  <button id="showFail" class="rounded-l-full m-0">Show Failed</button>
                  <button id="showPass" class="rounded-none m-0">Show Passed</button>
                  <button id="showAll" class="rounded-r-full m-0">Show All</button>
                </div>

                <template v-for="item in staticContent">
                  <div class="report-card" :class="checkIssue(item.criteria)">
                    <h4 :id="item.id" class="flex justify-between items-center">
                      <span>{{ item.criteria }} {{ item.title }}: (Level {{ item.level }})</span>
                      <a :href="item.reference" target="_blank"><img src="images/icon-info.svg" alt="More information"></a>
                    </h4>
                    <p>All non-text content that is presented to the user has a text alternative that serves the equivalent purpose.</p>

                    <p><strong>Outcome</strong>: <span class="uppercase">{{ checkIssue(item.criteria) }}</span></p>
                    <template v-if="checkIssue(item.criteria) === 'failed'">
                      <p><strong>Notes</strong>:</p>
                      <template v-for="(issue, index) in filterIssue(item.criteria)">
                        <p class="issue-checkbox">
                          <input type="checkbox" :id="issue.criteria + index" :checked="issue.completed" />
                          <label :for="issue.criteria + index">{{ issue.description }} <br /><small>Remediation: {{ issue.tier }}</small></label>
                        </p>
                        <small class="issue-notes" v-if="issue.notes || issue.fixLink">
                          <span v-if="issue.notes">{{ issue.notes }}</span>
                          <span v-if="issue.fixLink"><a :href="issue.fixLink" target="_blank">Fix Details</a></span>
                        </small>
                        <div v-if="issue.pages.length > 0">
                          <a href="#" class="listToggle"><span class="icon-GizmoPlus"></span> Show Locations</a>
                          <ul class="locationList">
                            <li v-for="page in issue.pages"><a :href="page.location" target="_blank">{{ page.location }}</a></li>
                          </ul>
                        </div>
                      </template>
                    </template>
                  </div>
                </template>

                <div class="relative md:fixed md:bottom-0 md:left-0 md:right-0 w-full border-t-2 border-t-teal-700 bg-slate-200 flex flex-col md:flex-row justify-center items-center gap-6 py-1">
                  <p class="max-w-screen-lg text-sm"><strong>Save your progress.</strong> Note: This data is stored locally and will only be available on the computer on which it is saved.</p>
                  <p><button class="saveStorage text-sm py-2 px-4">Save Progress</button></p>
                </div>
              </div>
            </section>
            <section id="design">
              <div class="card-container">
                <div class="report-card">
                  <h2>Color Contrast</h2>
                  <p>Text should have a color contrast ratio of 4.5:1 for regular text and 3:1 for large-scale text to meet the accessibility criteria.</p>

                  <table class="table">
                    <thead>
                      <tr>
                        <th>Example</th>
                        <th>Foreground</th>
                        <th>Background</th>
                        <th>Contrast Ratio</th>
                        <th>Pass/Fail</th>
                        <th>Location</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="color in colorContrast" :class="color.rating">
                        <td>
                          <span class="border border-gray-800 p-2 uppercase block text-sm" :style="{'background': color.background, 'color': color.foreground, 'text-align': 'center' }"> Example </span>
                        </td>
                        <td>{{ color.foreground }}</td>
                        <td>{{ color.background }}</td>
                        <td>{{ color.ratio }}<sup v-if="color.largeText">*</sup></td>
                        <td style="text-transform: capitalize">{{ color.rating }}</td>
                        <td>{{ color.location }}</td>
                      </tr>
                    </tbody>
                  </table>

                  <p>
                    <small><strong>*</strong>: Large text.</small>
                  </p>
                  <p>
                    <small><strong>Note</strong>: Locations are only the primary example of the color combination on the site. Duplicate color contexts may not be listed.</small>
                  </p>
                </div>
              </div>
            </section>
          </section>
        </div>
      </main>

      <!-- <script src="js/colorcontrast.js"></script> -->
      <script>
        var dataPath = "./data/sample.json";
        var contentPath = "./data/wcag.json";
      </script>
      <script src="js/app.js" async></script>
      <script src="js/main.js" async></script>
    </div>

    <script src="js/darkmode.js"></script>
  </body>
</html>
